@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #BA98D5;
  scroll-behavior: smooth;
}

.bg-image {
  background-image: url('../app/assets/svg/bgDesktop.svg'); /* replace with your image path */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.landing-bg {
  background-image: url("./assets/bg-land.png");
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.button-syle {
  background: linear-gradient(#643989 60%, #BA98D5);
  
   /* background-image: repeating-linear-gradient(36deg, rgba(255,255,255, 0.25), rgba(255,255,255, 0.25) 1px, transparent 0px, transparent 2px);
    background-size: 12px; */
    box-shadow: inset 0px 1px 1px #ffffff4b, inset 0 0px 0px white, inset 0 -2px 1px #643989, inset 0 0px 0px white;
}

.custom-table {
  border-collapse: separate;
  border-spacing: 0;
}

.custom-table tr:last-child td:first-child {
  border-bottom-left-radius: 20px;
}
.custom-table tr:last-child td:last-child {
  border-bottom-right-radius: 20px;
}

.custom-table tr td {
  border-bottom: solid 2px #292929;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #b4b4b4;
  border-bottom-color: var(--primary-color);
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.mask {
  mask: radial-gradient(circle 20px at -8px 50%, transparent 99%, #fff 100%);
}
.mask-sm {
  mask: radial-gradient(circle 20px at -16px 50%, transparent 99%, #fff 100%);
}

.mozBlur {
  backdrop-filter: blur(12px);
}


.ant-dropdown ul {
  background-color: #1F1923 !important;
  border: 1px solid #BA98D5;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  color: #FFFFFF;
}

.ant-dropdown ul li {
  padding: 0 !important;
  cursor:none !important; 
}

.ant-dropdown ul li:hover {
  background-color: transparent !important;
}

.ant-dropdown ul li span {
  color: #FFFFFF !important;
}

@media (min-width: 1350px) {
  .br-col-span-1 {
    grid-column: span 1 / span 1;
  }
}
